ion-item{
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

h3{
  font-family: 'Inter Extra Bold';
  font-size: large;
}

p{
  font-family: 'Roboto Regular';
  font-size: medium;
}

//hide/show the menu
.active{
  display: list-item;
}

.inactive{
  display: none;
}
.padding{
  padding-left: 15px;
}
#accordionContent{
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  bottom: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #202020;
}

#creationStageTag{
  padding-left: 15px;
  padding-top: 10px;
  color: white;
}

#progBarWrapper{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 15px;
  margin-right: 100px;
}

ion-progress-bar{
  height: 10px;
  border-radius: 50px;
  --progress-background: var(--ion-color-primary-tint);
  --buffer-background: #424242;
}

#logLabel{
  padding-left: 20px !important;
  display: inline;
}

ion-buttons{
  margin: 0px 15px;
}

.cardButton{
  width: 150px;
  height: 40px;
  --border-radius: 10px !important;
  margin: 10px;
}

.cardButtonIcon{
  color: white !important;
  font-size: large !important;
}

.cardButtonText{
  color: white !important;
  padding-left: 10px;
}
