<div>
  <ion-item color={{color}} (click)="toggleAccordion()" [style.border-bottom-left-radius]="isOpen ? '0px' : '10px'" [style.border-bottom-right-radius]="isOpen ? '0px' : '10px'">

    <!--The header-->
    <ion-avatar>
      <img src={{image}}/>
    </ion-avatar>
    <ion-label>
      <h3 style="color:white">{{name}}</h3>
      <p style="color:gray">{{type}}</p>
    </ion-label>
    <ion-icon name="chevron-forward-outline"></ion-icon>

  </ion-item>

  <!--The Accordion content-->
  <div [ngClass]="this.isOpen ? 'active' : 'inactive'" id="accordionContent">
    <h1 style="color:white">HIIII</h1>
  </div>
</div>
