#writeSelector{
  border-radius: 50%;
  margin-right: 25px;
  margin-top: 5px;
}

#msgWrapper{
  overflow-y: scroll;
  max-height: 90%;
}

#inputFieldWrapper{
  margin: 0px 25px 25px 25px;
  border-radius: 50px;
  background-color: #333333;
  display: flex;
}

#inputWrapper{
  margin-left: 50px;
}

#sendButton{
  margin-top: 10px;
}

.rightAlignChatBubble{
  border-radius: 20px;
  margin-left: 65%;
  margin-right: 15px;
}

.leftAlignChatBubble{
  border-radius: 20px;
  margin-right: 65%;
  margin-left: 15px;
}
