<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="system">
      <ion-icon name="cube-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="chatbox-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="diary">
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
