ion-item{
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

h3{
  font-family: 'Inter Extra Bold';
  font-size: large;
  padding-left: 10px;
}

p{
  font-family: 'Roboto Regular';
  font-size: medium;
  padding-left: 10px;
}
