ion-content{
  --background: linear-gradient(var(--ion-color-secondary), #000000 20%) !important;
}

ion-toolbar{
  --background: transparent;
}

ion-back-button{
  --color: white !important;
}

ion-progress-bar{
  height: 15px;
  border-radius: 50px;
  --progress-background: var(--ion-color-primary-tint);
  --buffer-background: #424242;
  //position: relative;
  bottom: 30px;
}

ion-header::after{
  background: none !important;
}

ion-badge{
  border-radius: 50px;
  margin: 2px;
  margin-bottom: 10px;
}

#moreButton{
  color: white !important;
}

#Wrapper{
  padding-top: 30px;
  text-align: center;
  margin-bottom: -25px;
}

#pPic{
  border-radius: 50%;
  width: 25%;
  height: 25%;
}

#name{
  font-size: 200%;
}

#Milestone{
  text-align: left !important;
  color: var(--ion-color-secondary-tint);
  padding-top: 0% !important;
  font-size: 150% !important;
  bottom: 10px;
}

#MilestoneText{
  margin-bottom: -35px;
}

#progBarWrapper{
  margin-top: 10px;
  margin-right: 5px;
}

#nGoal{
  color: var(--ion-color-secondary);
  bottom: 30px;
  padding-bottom: 10px;
}

#gauge{
  color: rgba(100, 100, 100, 0); //make the text invisible
  margin-top: -30px;
}

#ProgHeader{
  text-align: center !important;
  margin-top: -90px;
}

#ProgText{
  bottom: 135px;
  padding-bottom: 10px;
}

#description{
  margin-bottom: 5px;
  padding-bottom: 10px;
}

#scrollWrapper{
  overflow-x: scroll;
  white-space: nowrap;
}

#addIMG{
  margin-right: -2.5px;
  display: inline-block;
  --border-radius: 10px;
  --background: #848484;
  height: 100px;
  width: 100px;
}

#addIMGicon{
  color: white;
  font-size: 26pt;
}

.subColor{
  color: #848484 !important;
}

.blob{
  margin-left: 5%;
  margin-right: 5%;
  background-color: #202020;
  border-radius: 10px;
}

.blob *{
  padding-left: 10px !important;
  text-align: left !important;
  padding: 5px;
}

.gField{
  margin-top: 8px;
  display: inline-block;
  border-radius: 10px !important;
  height: 90px;
  width: 90px;
  background-size: cover;
  margin-left: 10px;
}
